@import "tailwindcss";

:root {
  --background: white;
  --foreground: #171717;
}

@theme {
  --font-sans: var(--font-open-sans);
  --font-display: var(--font-gilda-display);
}

body {
  color: var(--foreground);
  background: var(--background);
}

.js .no-js-content {
  display: none;
}

.no-js .js-content {
  display: none;
}
